header {
    background-color: green;
    height: 75px;
}

.navbar-text-logo {
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 25px;
}

.navbar-img-logo {
    width: 60px;
}

.navbar-text {
    text-decoration: none;
}

.navbar-text:hover {
    color: yellow;
}
