

.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.username-title {
    font-family: 'merienda';
}


.menu-option {
    color: black;
}

.menu-option:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: forestgreen;
    color: white;
    border-radius: 1px;
}


.logout-option {
    color: red;
}


.logout-option:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgb(250,0,0);
    opacity: 0.8;
    color: white;
    border-radius: 1px;

}
