
.login-form {
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-box {
    background-color: #F1F1F4;
    box-shadow: 0px 0px 10px 2px #888888;
}

.login-form-header {
    margin-bottom: 40px;
    font-weight: bold;
}

.input-field {
    margin-bottom: 15px;
    border: none;
    height: 35px;
}

.showpass-btn {
    margin-top: 40px;
    border: none;
    background-color: #55f229;
}

.showpass-btn:hover {
    background-color: #29f287;
}

.submit-btn {
    margin-top: 10px;
    color: white;
    background-color: green;
    border: none;
    border-radius : 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: forestgreen;
}