

form {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 60px;
    color: black;
}


.input-button {
    margin-bottom: 10px;
    border: none;
}

.show-pass-btn {
    border: none;
    background-color: #ffff00;
}

.show-pass-btn:hover {
    background-color:  #e6e600;
}

.submit-button {
    background-color: green;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    margin-top: 8px;
}

.submit-button:hover {
    background-color: forestgreen;
}

